//CSS
body {
    font-family: arial;
    color: 112, 112, 112;
    background-color: 192, 192, 192;
}
#content {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#game {
    width: 300px;
    background-color: 240, 240, 240;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 5px solid 192, 192, 192;
    border-radius: 15px;
    overflow: hidden;
}
.box {
    height: 80px;
}
#one {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(105, 255, 242);
    overflow: hidden;
}
#two {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(193, 255, 105);
}
#three {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: rgb(167, 105, 255);
}
#four {
    width: 100px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 105, 118);
}
